$bg: blue;

*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	letter-spacing: 2;
}

body {
  background-color: $bg;
}

div {
	display: block;
	background-color: wheat;
}

section {
	display: block;
	background-color: orange;
	margin: 12px;
}

.main-body {
	width: 90%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: auto;
}

section {
	width: 600px;
	min-height: 400px;
}

table {
	width: 100%;
	padding: 8px;
}

td, th {
	border: 3px solid black;
  width: 8.6%;
  position: relative;
	text-align: center;

}
td:after {
  content: '';
  display: block;
	margin-top: 26px;
}
td, th {
  width: 4rem;
  height: 3.5rem;
  border: 1px solid #ccc;
  text-align: center;
}
th {
  background: lightblue;
  border-color: white;
}

.comp-square {
	color: transparent;
}

.player-fleet {
	width: 80%;
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	padding: 16px;
}

.boats {
	display: flex;
	flex-grow: 4;
	justify-content: space-between;
	margin: 16px;
}

.game-controls {
	flex-grow: 1;
}

.ship {
	border: 3px solid purple;
	background-color: teal;
	width: 3rem;
	height: 2.5rem;
}

.ship-container {
	display: block;
	border: 1px darkblue solid;
	padding-right: 10px;
	background-color: green;
	z-index: 4;
	height: 2.5rem;
}

.Carrier {
	width: 15rem;
}

.Battleship {
	width: 12rem;
}

.Cruiser {
	width: 9rem;
}

.Submarine {
	width: 9rem;
}
.Destroyer {
	width: 6rem;
}

/* MODAL POP UP */
.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: 200ms ease-in-out;
	border: 2px solid black;
	border-radius: 12px;
	z-index: 10;
	background-color: white;
	width: 500px;
	max-width: 80%;
}

.modal.active {
	transform: translate(-50%, -50%) scale(1);
}

.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
}

.modal-header .title {
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-header .close-modal {
	cursor: pointer;
	border: none;
	outline: none;
	background: none;
	font-size: 1.25rem;
	font-weight: bold;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	opacity: 0;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: 200ms ease-in-out;
	background-color: rbga(0, 0, 0, .5) ;
	pointer-events: none;
}

#overlay.active {
	opacity: 70%;
	pointer-events: all;
}

#newGame {
	opacity: 0;
}

#newGame.active {
	opacity: 1;
}

.selected {
	outline: 4px;
	border-color: #688eac;
	box-shadow: 0 10px 15px #accfeb;
}

.hidden {
	display: none;
}

.hit-space {
	background-color: green;
}

.miss-space {
	background-color: red;
}